TaskWebApplicationClient/src/META-INF/wsdl/localhost_8080/PeopleWS/PeopleWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://people.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://people.me.org/" name="PeopleWS">
<types>
<xsd:schema>
<xsd:import namespace="http://people.me.org/" schemaLocation="http://localhost:8080/PeopleWS/PeopleWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"/>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"/>
</message>
<message name="findPersons">
<part name="parameters" element="tns:findPersons"/>
</message>
<message name="findPersonsResponse">
<part name="parameters" element="tns:findPersonsResponse"/>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<portType name="PeopleWS">
<operation name="deletePerson">
<input wsam:Action="http://people.me.org/PeopleWS/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://people.me.org/PeopleWS/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://people.me.org/PeopleWS/updatePersonRequest" message="tns:updatePerson"/>
<output wsam:Action="http://people.me.org/PeopleWS/updatePersonResponse" message="tns:updatePersonResponse"/>
</operation>
<operation name="findPersons">
<input wsam:Action="http://people.me.org/PeopleWS/findPersonsRequest" message="tns:findPersons"/>
<output wsam:Action="http://people.me.org/PeopleWS/findPersonsResponse" message="tns:findPersonsResponse"/>
</operation>
<operation name="createPerson">
<input wsam:Action="http://people.me.org/PeopleWS/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://people.me.org/PeopleWS/createPersonResponse" message="tns:createPersonResponse"/>
</operation>
</portType>
<binding name="PeopleWSPortBinding" type="tns:PeopleWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PeopleWS">
<port name="PeopleWSPort" binding="tns:PeopleWSPortBinding">
<soap:address location="http://localhost:8080/PeopleWS/PeopleWS"/>
</port>
</service>
</definitions>