TaskWebApplicationClient/src/META-INF/wsdl/localhost_8080/PeopleWS/PeopleWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://people.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://people.me.org/">

<xs:element name="PersonDataException" nillable="true" type="tns:personDataExceptionBean"/>

<xs:element name="createPerson" type="tns:createPerson"/>

<xs:element name="createPersonResponse" type="tns:createPersonResponse"/>

<xs:element name="deletePerson" type="tns:deletePerson"/>

<xs:element name="deletePersonResponse" type="tns:deletePersonResponse"/>

<xs:element name="findPersons" type="tns:findPersons"/>

<xs:element name="findPersonsResponse" type="tns:findPersonsResponse"/>

<xs:element name="updatePerson" type="tns:updatePerson"/>

<xs:element name="updatePersonResponse" type="tns:updatePersonResponse"/>

<xs:complexType name="deletePerson">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePersonResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="personDataExceptionBean">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findPersons">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonsResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPerson">
<xs:sequence>
<xs:element name="personData" type="tns:personData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personData">
<xs:sequence>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="FULL_NAME" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="PIN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePerson">
<xs:sequence>
<xs:element name="personData" type="tns:personData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>